@charset "UTF-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

html {
  font-size: 100%;
}
body {
  font-family: Noto Sans JP;
  color: #666666;
}
a {
  text-decoration: none;
  color: #666666;
  display: inline-block;
}
a:hover {
  color: #cccccc;
  transition: 0.9s;
}


li {
  list-style: none;
}
img {
  max-width: 100%;
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
}


/**********ヘッダー***********/
.hero_image .sp {
  display: none;
}


/**********ヘッダー***********/

.header {
  height: 88px;
  background: #fff;
  position: relative;
  
}
.logo {
  vertical-align: middle;
  height: 30px;
}
.header_flex {
  display: flex;
  line-height: 88px;
}

.header_nav_menu {
  display: flex;
}
.header_nav_menu li {
  padding: 0 20px;
  font-size: 12px;
 }
.header_nav_menu li:last-child {
  padding-right: 0;
 }
 
#nav {
  margin-left: auto; 
}





 /**********イントロ***********/

 .intro {
  margin:140px 0;
  outline: dashed red;
 }
.intro img {
  width: 448px;
 }
 .intro_text {
  width: 37.9%;
 align-self: center;
}
.intro h3 {
  font-size: 24px;
  line-height: 38px;
}
.intro p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 40px;
}
.intro_flex {
  display: flex;
  padding: 0 7.5%;
  justify-content: space-between;
  box-sizing: border-box;
 }


 /**********アバウト***********/

 .about {
  background: #D7EADF;
  outline: dashed red;
 }
 .about_flex {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 100px 16px; 
 }
 .about img {
  border-radius: 8%;
 }
 .about img:hover {
  opacity: 0.5;
  transition: 0.5s;

 }
.about h4 {
  font-family: Montserrat;
  font-size: 16px;
  color: #15870E;
  font-weight: normal;
  line-height: 24px;
  padding-top:18px;
}
.about p {
  font-size: 24px;
  line-height: 30px;
}
.about_card_item {
  width: 31.4%;  /*//////////////wrapperの範囲１１２０からナンパーセント//////////////*/
}


 /**********ニュース***********/
 .news {
  margin:140px 0;
  outline: dashed red;
 }
 .news h4 {
  font-family: Montserrat;
  font-size: 16px;
  color: #15870E;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
 }
 .news h2 {
  font-size: 48px;
  line-height: 40px;
  text-align: center;
  margin:14px 0 50px;
  font-weight: normal;
 }
 .news_flex {
  display: flex;
  flex-wrap: wrap;
 }
 .news dt {
  font-size: 12px;
  width: 20.6%;
  box-sizing: border-box;
  padding: 30px 128px 30px 0;
  border-bottom: 1px #666666 solid;
  
 }
 .news dd {
  font-size: 16px;
  width: 79.3%;
  box-sizing: border-box;
  padding: 30px 0;
  border-bottom: 1px #666666 solid;
  align-self: self-end;

 }
 .news dt:nth-last-child(2),
 .news dd:nth-last-child(1)
  {
  border-bottom: none;
 }
 .btn a {
  display: block;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  text-align: center;

 }
.btn {
 width: 204px;
 height: 30px;
 background: #15870E;
 border-radius: 8px;
 margin: 0 auto;
 margin-top: 20px;
}

 /**********フッター***********/

 .footer {
  background: #D9D9D9;
  height: 136px;

 }
 .footer small {
  color: #fff;
  line-height: 138px;
  
 }
 .footer p {
  text-align: center  ;

 }
 

  /**********SP***********/

  @media (max-width:835px) {


  /**********ヘッダー***********/
    .header .logo {                        
      height: 30px;
     position: absolute;
     top: 30px;
     left: 50%;
     transform: translateX(-50%);
    }
   
    .header_nav_menu li {
      font-size: 24px;
      padding: 20px 0 0 42px;
    }
    .header_flex {
      line-height: none;
    }
    .hamburger span {
      width: 44px;
      height: 4px;
      background: #c4c4c4;
      position: absolute;
      top: 32px;
      left: 58px;
      z-index: 20;
    }
    .hamburger span:nth-child(2) {
      margin-top: 12px;
    }
    .hamburger span:nth-child(3) {
      margin-top: 24px;
    }
    #mask {
      display:none;
      
     
    }

     /*//////////////ナビ開いてるときOPEN/////////////*/


    #mask.open {                    
      display: block;
      width: 726px;
      height: 808px;
      background: #fff;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10px;
      cursor: pointer;
      
     
    }  
    #nav {
      margin-left: 0;
      margin-top: 108px;
    
    }
    .header_nav_menu {
      opacity: 0;
      position: fixed;
      flex-direction: column;
      position: relative;
      top: 0;
      left: -725px;
      z-index: 20;
      transition: all 0.5s;

    }
    .header_nav_menu.open {
      opacity: 1;
      left: 0;
      transition: all 0.5s;
      
    }
    .hamburger.open span:nth-child(2) {
      transform: rotate(45deg) translateY(8px);
      transition: all 0.5s;
    }
    .hamburger.open span:nth-child(3) {
      transform: rotate(-45deg)translateY(-8px);
      transition: all 0.5s;
    }
    
    } 
    .hamburger.open span:first-child {
      display: none;
    }


    /**********ヒーロー***********/
   .hero_image .pc {
    display: none;
    }
    .hero_image .sp {
      display: block;
    }


    /**********イントロ***********/
   
    .intro {
      margin: 80px 0;
    }
    .intro_flex {
      flex-direction: column;
      padding: 0 16px;
    }
    .intro_text {
      width: 100%;;
    }
    .intro img {
      width: 100%;
    }
    .intro p {
      margin-bottom: 58px;
      font-size: 24px;
      line-height: 34px;
    }
    .intro h3 {
      font-size: 32px;
      line-height: 52px;
    }

    /**********アバウト***********/
    
    .about_flex {
      flex-direction: column;
      padding: 100px 83px;
    }
    .about_card_item {
      width: 100%;
    }
    .about_card_item p { 
    }
    .about h4 {
      padding-bottom: 21px;
    }
    .about a {
      display: block;
    }
    .about img {
      width: 100%;
      margin-top: 30px;
    }

    /*********フッター************/

    footer small {
      font-size: 14px;
    }

    /**********ニュース***********/

    .news h2 {
      font-size: 32px;
      line-height: 56px;
      margin: 0 0 80px;
    }
    .news dd {
      font-size: 24px;
      width: 100%;
      padding: 0 0 29px;
    }
    .news dt:first-child {
      border-top: 1px solid #666;
    }
    .news dd:nth-child(2) { 
      text-indent: -8px;    /*//////////////【】部分字下げ//////////////*/
    }
    .news dd:nth-child(6) { 
      text-indent: -8px;    /*//////////////【】部分字下げ//////////////*/
    }
    .news dt {
      font-size: 24px;
      padding: 34px 0;
      border-bottom: none;
      width: 100%;
    }
    .btn {
      margin-top: 50px;
    }

    
  }
  